<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>

<body>
    <h1>Form Controllers </h1>
    <hr>

    <form action="/getting-form-data" method="post">
        <input type="text" placeholder="username" name="username">
        <br>
        <br>
        <input type="text" placeholder="Email" name="email">
        <br>
        <br>
        <input type="text" placeholder="Password" name="password">
        <br>
        <br>

        <input type="submit" value="Submit Now">
    </form>
</body>

<script src="/assets/index.js"></script>

</html>